.full{width:100%;height:100%;}
.drea-full{width:100%;height:100%;}
.flex{display:flex;}

.flex-1{order:1;}
.flex-2{order:2}
.flex-3{order:3}
.flex-auto{flex: 1;overflow: auto}
.height-auto{height: auto}
.flex-row{flex-direction:row}
.flex-row-reverse{flex-direction: row-reverse}
.flex-row .flex-child{height: 100%;}
.flex-lie {flex-direction:column}
.flex-lie .flex-child{width: 100%;}
