/* CSS Document */
body {
	width:982px;
	margin:0 auto;/*固定宽度且居中板式的设置*/
	padding:0;
	height:750px;
	background:#99FF99;
	}

#main {
		width:950px;
		background:white;
		margin-top:50px;
		height:700px;
	}
#center {
		width:950px;
		margin-top:20px;
	}
#helpcenter {
			width:950px;
			}
#helpcenter {
			width:950px;
			height:50px;
			margin-top:50px;
			}










